# CREST Reader/Converter

In [1]:
import os
import ast
import sys

root_path = os.path.abspath(os.path.join(os.path.dirname("__file__"), '..'))
sys.path.insert(0, root_path)

from crest import converter
from crest import reader
from crest.utils import crest2tacred, crest2brat

from os import path

converter = converter.Converter()
reader = reader.Reader()

In [2]:
# loading a sample dataset
# df, mis = converter.convert_semeval_2007_4()
df, mis = converter.convert_caters()

idx = 1
print(df.iloc[idx]["idx"])
print("{}:{}".format(df.iloc[idx]["span1"], df.iloc[idx]["span2"]))
print(df.iloc[idx]["context"])

# getting text between
spans = reader.get_left_between_right(df.iloc[idx])

{'span1': [[136, 140]], 'span2': [[166, 177]], 'signal': []}
['shot']:['passed away']
There was a man in the alley named Bill
Bill was intoxicated after a tough day at work.
He insulted a large man with a firearm.
The man shot Bill several times.
Bill passed away after attempted resuscitation by the EMT's.

In [3]:
spans

['There was a man in the alley named Bill\nBill was intoxicated after a tough day at work.\nHe insulted a large man with a firearm.\nThe man ',
 ' Bill several times.\nBill ',
 " after attempted resuscitation by the EMT's."]

In [4]:
df.head(2)

,original_id,span1,span2,signal,context,idx,label,source,ann_file,split
0,R1,[resuscitation],[passed away],[],There was a man in the alley named Bill\nBill ...,"{'span1': [[194, 207]], 'span2': [[166, 177]],...",0,6,test_15Oct.ann,2
1,R2,[shot],[passed away],[],There was a man in the alley named Bill\nBill ...,"{'span1': [[136, 140]], 'span2': [[166, 177]],...",1,6,test_15Oct.ann,2

## Convert `CREST` to `TACRED`
TACRED is a well-known and popular dataset for relation extraction. TACRED has been used in many studies as a bechnmark for evaluating the performance of models for relation extraction. These models include but not limited to popular language models such as BERT. That is why we decided to include TACRED as one the formats that CREST can be converted to. You can find TACRED here: https://nlp.stanford.edu/projects/tacred/

In [4]:
data, data_df = crest2tacred(df, 'df', save_json=False)